.canvas {
  display: flex;
  align-items: center;
  position: relative;
  visibility: hidden;

  width: 100%;
  height: 100%;
  padding: 4rem 1rem;
  opacity: 0;

  transition: opacity 0.5s;

  svg {
    display: none;

    width: 100%;
    height: auto;
    max-height: 100%;
    margin-left: 1rem;

    path {
      fill: $color-fill;
      fill-opacity: 1;

      stroke: $color-background;
      stroke-opacity: 1;
      stroke-width: 0.5;

      transition: 0.5s;

      @for $i from 1 through 6 {
        &[data-infected="#{$i}"] {
          fill: nth($gradients, $i);
        }
      }

      &[data-infected] {
        cursor: pointer;
      }
    }

    @media screen and (max-width: 767px) {
      max-height: calc(100% - 6rem);
      margin-left: 0;
    }
  }

  &.canvas--visible {
    visibility: visible;
    opacity: 1;

    svg {
      display: block;
    }
  }

  @media screen and (max-width: 767px) {
    flex-flow: row wrap;
    height: auto;
    padding: 4rem 1rem 1rem;
  }
}
